.home-background {
    background: $main-background;
    margin: -1%
}

.button-right{
    margin: 0 0 0 auto;
}

.horizontal-gradient {
    background: linear-gradient(to right, $main-pink, $main-orange);
    color: white;
}


.horizontal-gradient-reverse {
    background: linear-gradient(to left, $main-orange, $main-pink);
    color: white;
}

// 全画面
.box {
    width: 120vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: -60px;
    margin-left: -50px;

}