#nav-icon {
    width: 100%;
    position: fixed;
    z-index: 100;
}

.nav-icon-line {
    display: inline;
    border-radius: 50%;
    vertical-align: middle;
}

#buttons{
    position: absolute;
    display: inline;
    padding: 3% 0;
    bottom: 0; /*下に固定*/
}

.vue-tinder {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 10px;
    margin: auto;

    width: calc(80%);
    height: calc(70%);

    min-width: 300px;
    max-width: 355px;
}

.pic {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
}

#tinder-title{
    display:inline;
    position: relative;
    color: white;
    font-size: 36px;
    left: 5%;
    right: 0;
}

#tinder-year{
    display:inline;
    position: relative;
    color: white;
    font-size: 24px;
    left: 5%;
    right: 0;
}

#tinder-genre{
    display:inline;
    position: relative;
    color: white;
    font-size: 24px;
    left: 5%;
    right: 0;
}

.gradient-black {
    position:absolute;
	bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.9;
    background: linear-gradient(to bottom, transparent, black);
}

.nope-pointer,
.like-pointer {
  position: absolute;
  z-index: 1;
  top: 20px;
  width: 64px;
  height: 64px;
}

.nope-pointer {
  right: 10px;
}

.like-pointer {
  left: 10px;
}

.super-pointer {
  position: absolute;
  z-index: 1;
  bottom: 80px;
  left: 0;
  right: 0;
  margin: auto;
  width: 112px;
  height: 78px;
}