#nav-user {
    width: 100%;
    position: fixed;
    z-index: 100;
}

.nav-icon-line {
    display: inline;
    border-radius: 50%;
    vertical-align: middle;
    width: 32px;
}

#recent-title{
    margin-top: 4em;
    display: block;
}