flask
sqlalchemy<1.4
flask-sqlalchemy
sqlalchemy_utils
#flask-migrate
#flask-login
pymysql
gunicorn
#flask_marshmallow
#marshmallow-sqlalchemy
python-dotenv
requests_oauthlib
flask-cors
bs4
logzero
requests
numpy